on:
  push:
    branches:
      - main
      - staging

jobs:
  generate-artefact:
    runs-on: ubuntu-20.04
    name: Build
    environment: ${{ github.ref_name }}
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: "10"
      - uses: actions/setup-python@v4
        with:
          python-version: "2.7"
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "2.7.1"
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "yarn_cache_dir=$(yarn cache dir)" >> $GITHUB_OUTPUT
      - uses: actions/cache@v3
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.yarn_cache_dir }}
          key: ${{ runner.os }}-${{ github.ref_name }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ github.ref_name }}-yarn-
      - name: Install dependencies
        run: yarn install --ignore-engines --prefer-offline
      - name: Build dist
        shell: bash
        env:
          REACT_APP_BACKEND_URL: ${{ secrets.REACT_APP_BACKEND_URL }}
        run: yarn build
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: ${{ github.ref_name }}-dist
          path: ./build
          retention-days: 5
      - name: Trigger deployment
        shell: bash
        run: curl -X POST ${{ secrets.DEPLOY_WEBHOOK }}
